/*Fonts
font-family: 'Cinzel', serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'WindSong', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif;

*/

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}



/* Hero Section------------------------------------------------------------------------------------------------------------------------------------ */

.hero {
  background-image:url("/public/images/bgAC.png");
  padding: 1rem 1rem 1rem 1rem;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 4rem 1rem 1rem 1rem;
}

.hero__container img{
  height:9rem;
  padding:1rem 1rem 1rem 1rem
}

@media screen and (max-width: 700px) {

  .hero {
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
  }
  #logo {
    height:45%;
    width:45%
  }
  #branding {
    height:100%;
    width:100%
  }
}


/* Services Section -----------------------------------------------------*/
.services {
  background-image: url('/public/images/bgAC.png');
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 4rem 1rem 5rem 1rem;

}

.services__wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services__card {
  margin: 10px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 1rem 5rem 1rem;
  box-shadow: 10px 20px 20px 10px #5a5031;
  border-radius:20px;
  transition: 0.5s ease-out;
}

.services__card {
  background: #ffffff;
}


.services__card h2 {
  color:rgb(37, 5, 5);
  text-align: center;
  font-size:1.3rem;
  font-weight:900;
}

.services__card a {
  color:rgb(0, 0, 0);
  text-align: center;
  font-size:1.5rem;
  margin-top: 24px;
  margin-bottom: 24px;
}

.services__card img {
  text-align: center;
  height:100px;
}


@media screen and (max-width: 1300px) {

  .services{
    background-image:url("/public/images/bgAC.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .services{
    background-image:url("/public/images/bgAC.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;  
  }
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}


/* About Section ------------------------------------------------------------- */
.main {
  background-image:url("/public/images/bgAC.png");
  padding: 1rem 1rem 1rem 1rem;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr;
}

.main__container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 0rem 0rem 0rem 0rem;

}

.main__content {
  color: #fff;
  width: 100%;
  padding:50px;

}

.main__content iframe {
  width:50rem; 
  height:25rem;
  padding: 0rem 0rem 0rem 0rem;
  box-shadow: 10px 20px 20px 10px #816816;
  margin-bottom:40px;

}

.main__content p {
  margin-top: 0rem;
  font-size: 2.5rem;
  font-weight: 200;
  color:black;

}

@media screen and (max-width: 800px) {
  .main {
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 1rem 1rem 1rem 1rem;
  }

  .main__content {
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
  }


  .main__content p {
    font-size: 2rem;
  }


  .main__content iframe {
    width:25rem; 
    height:25rem;
    padding: 0rem 0rem 0rem 0rem;
  }
  .main__btn {
    padding: 1rem 1rem 1rem 1rem ;
  }
}


@media screen and (max-width: 930px) {
  .main {
    background-image:url("/public/images/bgAC.png");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
  }

  .main__content iframe {
    width:30rem; 
    height:30rem;
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media screen and (max-width: 450px) {
  .main__content iframe {
    width:15rem; 
    height:20rem;
    padding: 0rem 0rem 0rem 0rem;
  }
}


/* Footer CSS ------------------------------------------------*/
.footer__container {
  background: #f3ebc2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

#footer__logo {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer__logo h1 {
  font-family: 'Poiret One', cursive;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding:1rem 1rem 1rem 1rem

}
.footer__logo a{
  font-size:10rem;
  justify-content: center;
  align-items: center;
  padding:1rem 1rem 1rem 1rem
}

@media screen and (max-width: 800px) {

  #footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;

  }

  .footer__logo h1 {
    font-size: 1.5rem;
  }
  .footer__logo a{
    font-size:1rem;

  }
}

@media screen and (max-width: 800px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}